/* @media print { */
    /* Ensure that backgrounds are printed */
    /* * {
        -webkit-print-color-adjust: exact; /* Chrome, Safari */
        /* print-color-adjust: exact; Firefox */
    /* } */ 

    /* Hide elements that shouldn't be printed */
    /* button {
        display: none; /* Hides the print button in the print view */
    /* } */ 

    /* Additional styles to enhance printed output */
    /* body {
        color: black; /* Ensure text is printed in black */
        /* background-color: white; /* Set a white background */
    /* }  */

    /* Any other styles you want to apply for printing */
/* } */
